Import Libraries

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
dfloan = pd.read_csv("loan.csv") #export pdf
dfloan.shape #get the shape of data

C:\Users\jaypa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(39717, 111)

In [38]:
dfloan.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

# Data Cleaning

In [39]:
dfloan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [40]:
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

Observed that some columns we have a no data(we identify that we have 39717 data and some columns has a 39717 null values) so we drop all the columns

In [41]:
dfloan = dfloan.drop(columns=dfloan.loc[:,dfloan.isnull().sum() == 39717].columns)

In [42]:
dfloan.shape

(39717, 57)

In [43]:
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

we observed that are  url has a same url just change the query string value with member id it givies nothing new information so we can drop url column also

In [44]:
dfloan = dfloan.drop(columns=['url'])

desc columns has a large number of null data and we have a same type information on purpose very filter way so we can drop desc column

In [45]:
dfloan = dfloan.drop(columns=['desc'])

In [46]:
dfloan.emp

Debt Consolidation                          2184
Debt Consolidation Loan                     1729
Personal Loan                                659
Consolidation                                517
debt consolidation                           505
                                            ...
payoff existing loan&debt consoilidation       1
some sanity                                    1
Comet Loan                                     1
Real Loan                                      1
High Probability Options Monthly Income        1
Name: title, Length: 19615, dtype: int64

We can not predict anyones employee title and emplength so we drop null rows

In [55]:
dfloan = dfloan[~dfloan.emp_title.isnull()]
dfloan = dfloan[~dfloan.emp_length.isnull()]
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        24018
mths_since_last_record        34654
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       46
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     64
last_pymnt_amnt                   0
next_pymnt_d                  36136
last_credit_pull_d                0
collections_12_mths_ex_med       47
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         47
delinq_amnt                       0
pub_rec_bankruptcies            654
tax_liens                        32
dtype: int64

in mths_since_last_delinq, mths_since_last_record we can replace nullvalues with 0

In [57]:
dfloan['mths_since_last_delinq'] = dfloan['mths_since_last_delinq'].fillna(0)
dfloan['mths_since_last_record'] = dfloan['mths_since_last_record'].fillna(0)
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq            0
mths_since_last_record            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       46
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     64
last_pymnt_amnt                   0
next_pymnt_d                  36136
last_credit_pull_d                0
collections_12_mths_ex_med       47
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         47
delinq_amnt                       0
pub_rec_bankruptcies            654
tax_liens                        32
dtype: int64

We can replace null values in revol_util by avg but before that we convert into the float

In [61]:
dfloan["revol_util"] = dfloan["revol_util"].str.replace('%','')
dfloan["revol_util"]  = dfloan["revol_util"].astype("float64")

In [78]:
dfloan["revol_util"] = dfloan["revol_util"].fillna(np.round(dfloan["revol_util"].mean(), 2))

In [85]:
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq            0
mths_since_last_record            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     64
last_pymnt_amnt                   0
next_pymnt_d                  36136
last_credit_pull_d                0
collections_12_mths_ex_med       47
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         47
delinq_amnt                       0
pub_rec_bankruptcies            654
tax_liens                        32
dtype: int64

we dont find any row to fill null values of last payment date so we can drop null rows

In [94]:
dfloan = dfloan[~dfloan.last_pymnt_d.isnull()]

In [100]:
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq            0
mths_since_last_record            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                      0
last_pymnt_amnt                   0
next_pymnt_d                  36072
last_credit_pull_d                0
collections_12_mths_ex_med       47
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         47
delinq_amnt                       0
pub_rec_bankruptcies            654
tax_liens                        32
dtype: int64

In [102]:
dfloan.collections_12_mths_ex_med.value_counts()

0.0    37091
Name: collections_12_mths_ex_med, dtype: int64

In [109]:
dfloan.chargeoff_within_12_mths.value_counts()

0.0    37091
Name: chargeoff_within_12_mths, dtype: int64

here all the values with zero then we replace null value with zero

In [110]:
dfloan.collections_12_mths_ex_med = dfloan.collections_12_mths_ex_med.fillna(0)
dfloan.chargeoff_within_12_mths= dfloan.collections_12_mths_ex_med.fillna(0)
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq            0
mths_since_last_record            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                      0
last_pymnt_amnt                   0
next_pymnt_d                  36072
last_credit_pull_d                0
collections_12_mths_ex_med        0
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths          0
delinq_amnt                       0
pub_rec_bankruptcies            654
tax_liens                        32
dtype: int64

In [111]:
dfloan.pub_rec_bankruptcies.value_counts()

0.0    34981
1.0     1496
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

In [113]:
dfloan.tax_liens.value_counts()

0.0    37106
Name: tax_liens, dtype: int64

mazority of the data has zero values so we replace null values with zero in pub_rec_bankruptcies ,tax_liens

In [114]:
dfloan.pub_rec_bankruptcies.fillna(0,inplace=True)
dfloan.tax_liens.fillna(0,inplace=True)
dfloan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                         0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
title                             9
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq            0
mths_since_last_record            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                      0
last_pymnt_amnt                   0
next_pymnt_d                  36072
last_credit_pull_d                0
collections_12_mths_ex_med        0
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths          0
delinq_amnt                       0
pub_rec_bankruptcies              0
tax_liens                         0
dtype: int64

In [116]:
pd.to_datetime(dfloan['last_pymnt_d'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-04-13 00:00:00

we observe that some data has a same values but diffrent spelling so we can replace them

dfloan["title"].replace("Debt Consolidation Loan", "Debt Consolidation",inplace=True)

In [48]:
dfloan["title"].replace("debt consolidation", "Debt Consolidation",inplace=True)
dfloan["title"].replace("Debt consolidation", "Debt Consolidation",inplace=True)
dfloan.title.value_counts()

Debt Consolidation                          4752
Personal Loan                                659
Consolidation                                517
Home Improvement                             356
Credit Card Consolidation                    356
                                            ...
payoff existing loan&debt consoilidation       1
some sanity                                    1
Comet Loan                                     1
Real Loan                                      1
High Probability Options Monthly Income        1
Name: title, Length: 19612, dtype: int64